<nav>
	<section id="logoContainer">
		<a href="/users/"><img src="../img/hashtag.png"></a>
	</section>
	<section id="palettesContainer">
		<a href="/palettes">Palettes</a>
	</section>
	<section id="collection">
		<a href="/collection">Collection</a>
	</section>
</nav>