<nav>
	<section id="logoContainer">
		<img src="./img/hashtag.png">
	</section>
	<section id="palettesContainer">
		<a href="#">Palettes</a>
	</section>
	<section id="signUp">
		<a href="#">Sign Up</a>
	</section>
	<section id="logIn">
	<a href="#">Log In</a>
	</section>
</nav>