<nav>
	<section id="logoContainer">
		<a href="/"><img src="./img/hashtag.png"></a>
	</section>
	<section id="palettesContainer">
		<a href="#">Palettes</a>
	</section>
	<section id="collection">
		<a href="#">Collection</a>
	</section>
</nav>