<!DOCTYPE html>
<html>
<head>
	<title>Hex Colors</title>
</head>
<body>

<h1>Hex colors</h1>

<% for (var i = 0; i<colors.length; i++){ %>
	<div class="hexColor">
		<li><%=colors[i].hex%></li> <!-- NEED THIS TO BE ACCESSED IN CSS? -->
	</div>
<% } %>

</body>
</html>