
@font-face{
	font-family:"MontserratBold";
	src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face{
	font-family:"MontserratRegular";
	src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}

*{
	margin:0;
	padding:0;
	font-family:"MontserratRegular";
}

.hexColor{
	width:10%;
	height:10em;
	display:inline-block;
	float:left;
}



/*********************************************/
/**************    NAVIGATION   **************/
/*********************************************/



nav{
	padding:10px 0px;
}

nav section{
	display:inline-block;
	width:33%;
}

nav section:nth-child(2), nav section:nth-child(3), nav section:nth-child(4){
	text-align: center;
}

nav section#signUp, nav section#logIn{
	width:16.5%;
}

nav img{
	width:40px;
	max-width:100%;
	margin:0px 20px;
}


/*********************************************/
/***************    USER SHOW   **************/
/*********************************************/

#hexColorsContainer{
	width:75%;
	display:inline-block;
	float:left;
}

#collectionInfo{
	width:25%;
	display:inline-block;
}

#createNewPalette, #myPalettesContainer{
	border-top:solid 1px #ccc;
	padding:20px;
}




/*********************************************/
/************** USER SHOW HEXES **************/
/*********************************************/

.selectedHex{
	width:20px;
	height:20px;
}

.palette{
	display:block;
	padding:10px;
}

.paletteColor{
	width:30px;
	height:25px;
	float:left;
	margin:5px 5px 0px 0px;
}




