
@font-face{
	font-family:"MontserratBold";
	src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face{
	font-family:"MontserratRegular";
	src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}

*{
	margin:0;
	padding:0;
	font-family:"MontserratRegular";
}

.hexColor{
	width:10%;
	height:10em;
	display:inline-block;
	float:left;
}

.bold{
	font-family:"MontserratBold";
}


h4{
	text-transform: uppercase;
	font-size:1.2em;
}

.bodyCopy{
	font-size:.9em;
}

.hexColorCode{
	padding:5px;
	/*display:none;*/
}

.hexColor:hover{
	cursor: pointer;
}

.hexColor:target .hexColorCode{
	display:block;
}

/*********************************************/
/**************    NAVIGATION   **************/
/*********************************************/



nav{
	padding:10px 0px;
	border-bottom:solid 1px #ccc;
}

nav section{
	display:inline-block;
	width:32%;
}

nav section:nth-child(2), nav section:nth-child(3), nav section:nth-child(4){
	text-align: center;
}

nav section#signUp, nav section#logIn{
	width:16.5%;
}

nav img{
	width:40px;
	max-width:100%;
	margin:0px 20px;
}

nav a{
	text-transform:uppercase;
	/*font-family:"MontserratBold";*/
	text-decoration: none;
	color:#000;
	font-size:1.5em;
}


/*********************************************/
/***************     OVERLAY    **************/
/*********************************************/

#signUp{
	position:relative;
}

#signUp #signUpOverlay, #logIn #logInOverlay{
	display:none;
}

#signUp:hover #signUpOverlay, #logIn:hover #logInOverlay{
	display:block;
	position:absolute;
	z-index:1;
	text-align:center;
	background-color:#fff;
	text-align:center;
	padding:2em 0px;
}

#signUpForm, #logInForm{
	background-color:#fff;
}

#signUpForm input, #logInForm input{

	border:solid 1px #000;
	padding:1em;
	margin:5px;

}

#signUpForm button, #logInForm button{
	background-color:#fff;
	border:solid 1px #000;
	padding:1em;
	margin:5px;
	width:148px;
	max-width:100%;
}

#signUpForm button:hover, #logInForm button:hover{

	background-color:#000;
	color:#fff;

}
/*********************************************/
/***************    USER SHOW   **************/
/*********************************************/

#hexColorsContainer{
	width:66%;
	display:inline-block;
	float:left;
}

#collectionInfo{
	width:33%;
	display:inline-block;
}

#userShow .hexColor{
	height:6em;
}


/*********************************************/
/**********    CREATE NEW PALETTE   **********/
/*********************************************/



#createNewPalette, #myPalettesContainer{
	border-top:solid 1px #ccc;
	padding:20px;
}


#createPaletteForm input#createPaletteInput{
	border:none;
	background:none;
	height:50px;
}

#createNewPalette:children(){
	margin:10px 0px;
}

.instructions{
	margin:20px 0px;
}

.instructions p{
	margin:5px 0px;
}

#paletteNameInput{
	margin-bottom:20px;
}

#createPaletteInput{
	/*float:left;*/
}

#paletteNameInput{
	margin-right:10px;
}

#savePaletteButton, #deletePaletteButton{
	border:solid .5px;
}

#savePaletteButton, .deleteColorButton, #deletePaletteButton{
	background-color: #fff;
	font-size:.8em;
	padding:0px 5px;
}

.deleteColorButton{
	text-decoration:underline;
}

.deleteColorButton:hover{
	cursor: pointer;
}

#savePaletteButton:hover, #deletePaletteButton:hover{
	background-color:#ddd;
	/*color:#fff;*/
	border:solid .5px #000;
	cursor: pointer;
}


/*********************************************/
/************** USER SHOW HEXES **************/
/*********************************************/

.selectedHex{
	width:20px;
	height:20px;
}

.palette{
	display:block;
	padding:10px 10px 10px 0px;
}

.paletteColor{
	width:30px;
	height:30px;
	float:left;
	margin:5px 5px 0px 0px;
}



/*********************************************/
/*************  PALETTES INDEX  **************/
/*********************************************/

.paletteContent{
	padding:20px;
}

.hexCodeValue{
	text-transform:uppercase;
	margin-top:10px;
}

.paletteContainer{
	width:16.5%;
	float:left;
	margin:20px 0px;
}






/*********************************************/
/*************   MEDIA QUERIES  **************/
/*********************************************/



/***************************/
/* USER SHOW PAGE*/
/***************************/

@media screen and (max-width: 1330px){
	#userShow .hexColor{
		font-size:.8em;
	}
}

@media screen and (max-width: 1100px){
	#userShow .hexColor{
		width:20%;
		height:11em;
	}
}

@media screen and (max-width: 900px){
	#userShow .hexColor{
		height:9em;
	}
}

@media screen and (max-width: 767px){
	#userShow .hexColor{
		height:8em;
	}
}

@media screen and (max-width: 590px){
	#userShow .hexColor{
		height:6em;
	}

	h4{
		font-size:1em;
	}

	.bodyCopy{
		font-size:.8em;
	}
}

@media screen and (max-width: 550px){
	#userShow .hexColor{
		height:8em;
	}

	#userShow{
		display:block;
	}

	#userShow #hexColorsContainer{
		width:100%;
		float:right;
		display:block;
	}

	#collectionInfo{
		position:absolute;
		background-color:#fff;
		width:100%;
		float:left;
		left:0;
		top:73px;
		display:block;

	}
}

@media screen and (max-width: 480px){
	nav a{
		font-size:1.3em;
	}
}

@media screen and (max-width: 360px){
	nav a{
		font-size:1em;
	}

	nav img{
		width:25px;
	}

	#collectionInfo{
		top:54px;
	}

	#savePaletteButton, #deletePaletteButton, .deleteColorButton{
		font-size:.7em;
	}

	.hexColorCode{
		font-size:.9em;
	}
}