<!DOCTYPE html>
<html>
<head>
	<title>Collection</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body id="collection">

<nav>
	<section id="logoContainer">
		<a href="/users/"><img src="/img/hashtag.png"></a>
	</section>
	<section id="palettesContainer">
		<a href="/palettes">Palettes</a>
	</section>
	<section id="collection">
		<a href="/collection">Collection</a>
	</section>
</nav>

<%=user%>


</body>
</html>