<!DOCTYPE html>
<html>
<head>
	<title>Hex Colors</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body id="index">

<% include ../partials/navigation_login.ejs %>

<div id="signUpOverlay">
	<form action="/users" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Sign Up</button>
	</form>
</div>

<div id="logInOverlay">
	<form action="/users" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="text" name="password" placeholder="password">
		<button>Log In</button>
	</form>
</div>



</body>
</html>