<!DOCTYPE html>
<html>
<head>
	<title>Hex Colors</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body id="index">

<%# include ../partials/navigation_login.ejs %>
<nav>
	<section id="logoContainer">
		<a href="/"><img src="./img/hashtag.png"></a>
	</section>
	<section id="palettesContainer">
		<a href="/palettes">Palettes</a>
	</section>
	<section id="signUp">
		<a href="/signup.ejs">Sign Up</a>
	</section>
	<section id="logIn">
		<a href="#">Log In</a>
	</section>
</nav>

<div id="signUpOverlay">
	<form action="/users" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Sign Up</button>
	</form>
</div>

<div id="logInOverlay">
	<form action="/users/login" method="POST">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Log In</button>
	</form>
</div>

<% for (var i = 0; i<colors.length; i++){ %>
	<div class="hexColor" style="background-color:<%=colors[i].hex%>">
		<p class="hexColorCode"><%=colors[i].hex%></p> <!-- NEED THIS TO BE ACCESSED IN CSS? -->
	</div>
<% } %>

</body>
</html>