<!DOCTYPE html>
<html>
<head>
	<title>Hex Colors</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body id="index">

<% include ../partials/navigation_user.ejs %>

<div id="signUpOverlay">
	<form action="/user/"
</div>

<% for (var i = 0; i<colors.length; i++){ %>
	<div class="hexColor" style="background-color:<%=colors[i].hex%>">
		<p class="hexColorCode"><%=colors[i].hex%></p> <!-- NEED THIS TO BE ACCESSED IN CSS? -->
	</div>
<% } %>

</body>
</html>