<!DOCTYPE html>
<html>
<head>
	<title>Palettes</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <script type="text/javascript" src="../js/vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="../js/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body id="palettesIndex" class="container">

<div class="row">
	<nav>
		<section id="logoContainer" class="col-md-4 col-sm-4">
			<% if(sess.user){ %>
				<a href="/users/<%= sess.user._id %>" ><img src="../img/hashtag.png"></a>
			<% } else { %>
				<a href="/users/"><img src="../img/hashtag.png"></a>
			<% } %>
		</section>
		<section id="palettesContainer" class="navTitles col-md-4">
			<a href="/palettes">Palettes</a>
		</section>

		<% if(sess.user){ %>
			<section id="logout" class="navTitles col-md-4">
				<a href="/users/logout">Logout</a>
			</section>
		<% } else { %>
			<section id="signUp" class="navTitles col-md-2 col-sm-2 col-xs-6">
				<a>Sign Up</a>

				<div id="signUpOverlay">
					<form action="/users" method="POST" id="signUpForm">
						<input type="text" name="username" placeholder="username">
						<input type="text" name="email" placeholder="email">
						<input type="password" name="password" placeholder="password"><br>
						<button>Sign Up</button>
					</form>
				</div>
			</section>

			<section id="logIn" class="navTitles col-md-2 col-sm-2 col-xs-6">
				<a>Log In</a>

				<div id="logInOverlay">
					<form action="/users/login" method="POST" id="logInForm">
						<input type="text" name="email" placeholder="email">
						<input type="password" name="password" placeholder="password"><br>
						<button>Log In</button>
					</form>
				</div>

			</section>
		<% } %>
	</nav>
</div>

<!-- <br> -->
<div class="row">
	<% for (var i=0; i<palettes.length;i++){ %>
		<div class="paletteContainer col-md-2 col-sm-3 cl-xs-6">
		
			<h4 class="paletteName"><%= palettes[i].name %></h4>
			<div class="paletteContent">
				<% for (var j=0; j<palettes[i].palette.length;j++){ %>
					
					<div class="palette">
						<div class="paletteColor" style="background-color:<%= palettes[i].palette[j] %>"></div>
						<p class="bodyCopy hexCodeValue"><%= palettes[i].palette[j] %></p>
					</div>
				<% } %>
			</div>

		</div>
	<% } %>
</div>
</br>


</body>
</html>